<!DOCTYPE html>
<html>
    <head>
        <script src="/public/js/index.js"></script>
        <link rel="stylesheet" type="text/css" href="/public/css/index.css" />
    </head>
    <body>
        <h1>Node Chat</h1>
        <div id="chat_box_select">
            <p>Seleccione una sala de chat</p>
            <select id="chatList">
                <option value="trabajo">Trabajo</option>
                <option value="cafe">Cafe</option>
                <option value="oficina">Oficina</option>
            </select>
            <button id="chatButton">Acceder</button>
        </div>
    </body>
</html>